.react-time-picker__wrapper {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.react-time-picker__inputGroup__input {
  width: 10%;
  border: none;
  padding: 0.15em;
  min-width: 50px !important;
  min-height: 30px !important;

}

.react-time-picker__inputGroup__input::-webkit-inner-spin-button,
.react-time-picker__inputGroup__input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.react-time-picker__clock-button {
  display: none !important;
}
